.imago-field.number
  div(ng-transclude)
  input(
    type='text'
    ng-model='ngModel'
    ng-model-options="{'updateOn': 'blur'}"
    ng-change="update(ngModel)"
    ng-disabled="disabled")
  button.decrement(
    type='button'
    ng-disabled='isOverMin() || disabled'
    ng-click='decrement()'
    )
  button.increment(
    type='button'
    ng-disabled='isOverMax() || disabled'
    ng-click='increment()'
    )
