.imago-field.currency
  .wrapper(ng-class="{focus:onfocus}")
    div(ng-transclude)
    select(
      ng-model="currency"
      ng-options="currency for currency in currencies"
    )

    input(
      type="text"
      ng-model="ngModel[currency]"
      ng-blur="update(ngModel); onfocus = false"
      ng-disabled="!currency"
      ng-focus="onfocus = true"
    )