.imago-field.currency
  div(ng-transclude)
  select(
    ng-model="currency"
    ng-options="currency for currency in currencies"
  )

  input(
    type="text"
    ng-model="ngModel[currency]"
    ng-blur="update(ngModel)"
    ng-disabled="!currency"
  )