.imagoimage(
  visible="visible"
  in-view="visible = $inview"
  in-view-options="{debounce: 100}"
  ng-style="elementStyle"
  ng-class="[status, align]"
  ng-switch="sizemode"
  )
  img.imagox23(ng-src="{{servingUrl}}" ng-style="imageStyle" ng-switch-when="fit")
  .imagox23(ng-style="imageStyle" ng-switch-when="crop")
  .loading
    .spin
    .spin2
