.imagoimage(
  in-view="visible = $inview"
  responsive-events
  ng-style="elementStyle"
  ng-class="[status, align]"
  visible="visible"
  ng-switch="sizemode"
  )
  img.imagox23(ng-src="{{servingUrl}}" ng-style="imageStyle" ng-switch-when="fit")
  .imagox23(ng-style="imageStyle" ng-switch-when="crop")
  .loading
    .spin
    .spin2
