.imagoslider(
    ng-class="[conf.animation, action]"
    ng-swipe-left="goPrev()"
    ng-swipe-right="goNext()"
    )
  .prev(ng-show="conf.enablearrows"
        ng-click="goPrev($event)"
        stop-propagation)
  .next(ng-show="conf.enablearrows"
        ng-click="goNext($event)"
        stop-propagation)