div(ng-class="elementStyle")
  .nexslider(ng-style="sliderStyle",
            ng-swipe-left="goPrev()",
            ng-swipe-right="goNext()")
    //- .debug {{slideSource | json}}
    .prev(ng-show="confSlider.enablearrows && loadedData",
          ng-click="goPrev()")
    .next(ng-show="confSlider.enablearrows && loadedData",
          ng-click="goNext()")
    .slide(ng-class="{'active':isCurrentSlideIndex($index)}",
          ng-repeat="slide in slideSource",
          ng-hide="!isCurrentSlideIndex($index)")
      div(imago-image,
          source="slide",
          sizemode="{{$parent.confSlider.sizemode}}"
          )