.imagoslider(
    ng-class="[conf.animation, action]"
    hm-swipeleft="goNext"
    hm-swiperight="goPrev"
    )
    .prev(ng-show="conf.enablearrows"
        hm-tap="goPrev"
        stop-propagation)
    .next(ng-show="conf.enablearrows"
        hm-tap="goNext"
        stop-propagation)
