.imagoslider(
    ng-class="[conf.animation, action]"
    hm-swipeleft="goNext"
    hm-swiperight="goPrev"
    hm-recognizer-options='{"directions": "DIRECTION_HORIZONTAL"}'
    )
    .prev(
      ng-show="conf.enablearrows"
      hm-tap="goPrev"
      )
    .next(
      ng-show="conf.enablearrows"
      hm-tap="goNext"
      )
