.imagoslider(
    ng-class="[conf.animation, action]"
    ng-swipe-left="goNext()"
    ng-swipe-right="goPrev()"
    )
    .prev(
      ng-show="conf.enablearrows"
      ng-click="goPrev()"
      )
    .next(
      ng-show="conf.enablearrows"
      ng-click="goNext()"
      )
