.imagoslider(
    ng-class="[imagoslider.conf.animation, action]"
    ng-swipe-left="imagoslider.goNext($event)"
    ng-swipe-right="imagoslider.goPrev($event)"
    )
    .prev(
      ng-show="imagoslider.conf.enablearrows && imagoslider.length > 1"
      ng-click="imagoslider.goPrev($event)"
      analytics-on="click" analytics-event="Previous Slide"
      )
    .next(
      ng-show="imagoslider.conf.enablearrows && imagoslider.length > 1"
      ng-click="imagoslider.goNext($event)"
      analytics-on="click" analytics-event="Next Slide"
      )
