.imagoslider(
    ng-class="[conf.animation, action]"
    hm-swipe-left="goNext($event)"
    hm-swipe-right="goPrev($event)"
    )
    .prev(ng-show="conf.enablearrows"
        hm-tap="goPrev($event)"
        stop-propagation)
    .next(ng-show="conf.enablearrows"
        hm-tap="goNext($event)"
        stop-propagation)
