.imagoslider(
    ng-class="[conf.animation, action]"
    hm-swipeleft="goNext"
    hm-swiperight="goPrev"
    hm-manager-options='{preventDefault": false}'
    )
    .prev(
      ng-show="conf.enablearrows"
      hm-tap="goPrev"
      hm-manager-options='{"preventDefault": false}')
    .next(
      ng-show="conf.enablearrows"
      hm-tap="goNext"
      hm-manager-options='{"preventDefault": false}')
