.cart
  .icon(ng-click="cart.imagoCart.show = !cart.imagoCart.show")
    .counter(ng-bind="cart.imagoCart.itemsLength")

  .box(ng-show="cart.imagoCart.show")
    div(ng-transclude)

    .itemnumber(
      ng-show="cart.imagoCart.itemsLength"
      ) {{cart.imagoCart.itemsLength}} items
    .noitems(
      ng-show="cart.imagoCart.itemsLength === 0"
      ) cart empty

    .subtotal subtotal: {{cart.imagoCart.subtotal | price:0}}

    button.checkout(
      ng-show="cart.imagoCart.cart.items.length"
      type="submit"
      ng-click="cart.imagoCart.checkout()"
      ) checkout