.cart
  .icon(ng-click="cart.utils.show = !cart.utils.show")
    .counter(ng-bind="cart.utils.cart.items.length")

  .box(ng-show="cart.utils.show")
    .item(ng-repeat="item in cart.utils.cart.items")

      //- add serving_url form vairant
      img(ng-if="item.serving_url" ng-src="{{item.serving_url}}=s100-c")
      button.remove(ng-click="cart.utils.remove(item)")

      //- span.title Kisses for Kismed
      span.qty qty: {{item.qty}}
      //- span.color color: ping

    .itemnumber(
      ng-show="cart.utils.cart.items.length"
      ) {{cart.utils.cart.items.length}} items
    .noitems(
      ng-show="cart.utils.cart.items.length === 0"
      ) no items in cart

    button.checkout(
      ng-show="cart.utils.cart.items.length"
      type="submit"
      ng-click="cart.utils.checkout()"
      ) checkout