div.nex.form
  form(name="nexContact" ng-submit="submitForm(nexContact.$valid)" novalidate)

    div.nex.field
      label(for="name") Name
      input(type="text"
        name="name"
        ng-model="contact.name"
        placeholder="Name"
        require
        )

    div.nex.field
      label(for="email") Email
      input(type="email"
        name="email"
        ng-model="contact.email"
        placeholder="Email"
        require
        )

    div.nex.field
      label(for="message") Message
      textarea(name="message"
        ng-model="contact.message"
        placeholder="Your message."
        require
        )

    div.nex.checkbox
      input(type="checkbox"
        name="subscribe"
        ng-model="contact.subscribe"
        checked
        )
      label(for="subscribe") Subscribe

    div.formcontrols
      button.send(type="submit" ng-disabled="nexContact.$invalid") Send

  div.sucess
    span Thank You!

  div.error
    span Error!
