div.imago-form
  form(name="imagoContact" ng-submit="contact.submitForm(imagoContact.$valid)" novalidate ng-if="!contact.status")

    div.imago-field
      label(for="name") Name
      input(
        type="text"
        name="name"
        ng-model="contact.data.name"
        placeholder="Name"
        required
        )

    div.imago-field
      label(for="email") Email
      input(
        type="email"
        name="email"
        ng-model="contact.data.email"
        placeholder="Email"
        required
        )

    div.imago-field
      label(for="message") Message
      textarea(
        name="message"
        ng-model="contact.data.message"
        placeholder="Your message."
        required
        )

    div.imago-checkbox
      input(
        type="checkbox"
        name="subscribe"
        ng-model="contact.data.subscribe"
        checked
        )
      label(for="subscribe") Subscribe

    div.formcontrols
      button.send(type="submit" ng-disabled="imagoContact.$invalid") Send

  div.messages(ng-switch="contact.status")
    div.sucess(ng-switch-when="true")
      span Thank You!

    div.error(ng-switch-when="false")
      span Error: {{contact.error}}
